.pagepage-header
{
    padding-top: -500px;
}
.btn-primary
{
    color:white;
  
    padding-top: 1px;
}
.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 38px;
    height: 38px;
}
.fw-medium {
    font-weight: 600 !important;
}
.display-5
{
    font-weight: 900;
     font-family:"Rubik",sans-serif;
     font-size: 40px;
     
}
button
{
    padding-top: 1px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 550px;
    height: 38px;
}