<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content d-md-flex justify-content-between align-items-center">
        <div class="mb-3 mb-md-0">
          <h2>Shopping Cart</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cart-container">
  <table width="100%" class="container my-5">
    <thead>
      <tr>
        <td>Id</td>
        <td>Product</td>
        <td>Image</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Remove</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of cartProduits">
        <td>{{prod.id}}</td>
        <td>{{prod.title}}</td>
        <td><img [src]="prod.images[0]" /></td>
        <td>{{prod.price}}</td>
        <td><input type="number" min="1" value="1"></td>
        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
      </tr>
    </tbody>
  </table>
</section>