<div class="container">
    <div class="row">
        <div class="col-lg-3">
            el bar ta3 el filters
        </div>
        <div class="col-lg-9">
            <div>
                <div *ngFor="let prod of lesProduits" class="col-lg-4 col-md-6 col-sm-6">
                    <app-produit [id]="prod.id" [title]="prod.title" [category]="prod.category" [price]="prod.price" [image]="prod.images[0]" [disponibility]="prod.disponibility" [stars]="prod.stars" >
                    </app-produit>
                    <!--<app-produit>[xyz]=prod</app->-->
                </div>
            </div>
        </div>
    </div>
</div>