<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content d-md-flex justify-content-between align-items-center">
        <div class="mb-3 mb-md-0">
          <h2>Product Details</h2>
          <p>Very us move be blessed multiply night</p>
        </div>
        <div class="page_link">
          <a routerLink="home">Home</a>
          <a routerLink="pages/shopDetails ">Product Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container sproduct my-5 pt-5">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-12 col-12">
      <img class="w-100 pb-1" [src]="Prod.images[0]" alt="" id="MainImg">

      <div class="small-img-group">
        <div class="small-img-col" *ngFor="let img of Prod.images">
          <img [src]="img" width="100%" class="small-img">
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-12">
      <h3>{{Prod.title}}</h3>
      <h2>{{Prod.price}} TND</h2>
      <ul class="list">
        <li>
          <span class="active">Category</span> : {{Prod.category}}
        </li>
        <li>
          <!-------------------------------------------------------------------------------------->
          <span>Availibility</span><span *ngIf="Prod.disponibility" [ngClass]="{'color:green':!Prod.disponibility}">: In
            Stock</span>
          <span *ngIf="!Prod.disponibility" [ngClass]="{'color:red':!Prod.disponibility}">: Out Of Stock</span>
        </li>
      </ul>
      <p>
        {{Prod.description}}
        Mill Oil is an innovative oil filled radiator with the most
        modern technology. If you are looking for something that can
        make your interior look awesome, and at the same time give you
        the pleasant warm feeling during the winter.
      </p>
      <div class="product_count">
        <label for="qty">Quantity:</label>
        <div class="purchase-info">
          <input type="number" min="0" value="1" [(ngModel)]="qte">
        </div>

      </div>
      <div class="card_area">
        <a class="main_btn" (click)="addProduitToCart(Prod.id)">Add to Cart</a>
        <a class="main_btn" (click)="ajoutCommande(Prod.id)">passez une commande</a>
        <!--<div class="overlay">
          <div class="signUp">
            <div class="header">
              <h1>Sign up</h1>
            </div>
            <div class="body">
             <form action="" class="form">
              <input type="text" placeholder="name"/>
              <input type="text" placeholder="last name"/>
              <input type="email" placeholder="email"/>
              <input type="text" placeholder="adress"/>
              <input type="tel" placeholder="n°Tel"/>
              <input type="submit" value="signUp">
             </form>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
  <!---->
  <div class="testimonials-headings">
    <span>Comments</span>
    <h1>Clients Says</h1>
  </div>
  <div class="testimonials-box-container">
    <!---->
    <div class="testimonials-box" *ngFor="let c of Prod.comments">
      <!--user-->
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="assets\img\about\team-1.jpg">
          </div>
          <div class="name-user">
            <strong>{{c.nom}}</strong>
            <span>{{c.email}}</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <!--comments---->
      <div class="client-comment">
        {{c.message}}
      </div>
    </div>
  </div>

  <button data-bs-toggle="modal" data-bs-target="#myModal" class=" mb-15"  class=" main_btn poppup" style="height:30px;" >ajouter commentaire</button>
  <div class="modal" style="height: 100%; " id="myModal">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body">
      <div class="inputBox">
        <input type="text">
        <span>Name</span>
      </div>
      <div class="inputBox">
        <input type="text">
        <span>E-mail</span>
      </div>
      <div class="inputBox">
        <textarea></textarea>
        <span class="txtEra">leave us a comment</span>
      </div>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width:36.5% ;margin-left: 423px;margin-top: 35px;" (click)="Addcomment()">Publish</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="width:36.5% ;margin-left: 423px;margin-top: 35px;">Close</button>

    </div>
    
  </div>
</div>
</div>
      

</section>
<section class="other-Product">
  <h1>Our Product</h1>
  <div class="row">
    <div class="other-product-col">
      <img src="assets\Jebba_Kamraya.jfif">
      <div class="layer">
        <h3>Tradional<br>Clothes</h3>
      </div>
    </div>
    <div class="other-product-col">
      <img src="assets\Jebba_Kamraya.jfif">
      <div class="layer">
        <h3>Handmade<br>Product</h3>
      </div>
    </div>
    <div class="other-product-col">
      <img src="assets\Jebba_Kamraya.jfif">
      <div class="layer">
        <h3>Personal<br>Pack</h3>
      </div>
    </div>
  </div>
</section>

<script>
  var MainImg = document.getElementById("MainImg");
  var smallImg = document.getElementsByClassName("small-img");
  smallImg[0].onclick = function () {
    MainImg.src = smallImg[0].src;
  }
  smallImg[1].onclick = function () {
    MainImg.src = smallImg[1].src;
    console.log('clicked')
  }
  smallImg[2].onclick = function () {
    MainImg.src = smallImg[2].src;
  }
  smallImg[3].onclick = function () {
    MainImg.src = smallImg[3].src;
  }
</script>