<section class="hero" >
    <div class="heroSlider" >
        <div class="heroItem" >
            <div class="frame">
            <img src="assets\unfinished-jug.jpg" alt="" class="sliderImg">

            </div>
            <div class="sliderBg"></div>
            <h6 class="sliderTitle1">old but gold</h6>
            <h2 class="sliderTitle2"> culutres grow<br>the vine of tradition .</h2>
            <p class="sliderParg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                Hic quis reprehenderit dolore perferendis ipsam possimus dignissimos, <br>nobis iste, culpa officia illum quasi! Unde quibusdam recusandae 
            </p>
            <a routerLink="/shop" class="buyButton">
                 SHOP NOW!<span class="arrow_right"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
            <div class="hero_social">
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="printrest"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>



        </div>
    </div>
</section>
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="assets\Sans titre (24).png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>الدفا عفا ولو بعز الصيف</h2>
                        <a routerLink="/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="assets\Sans titre (26).png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2 style="padding-top:30px ;">القمح يدور يدور و يرجع لقلب الرحى</h2>
                        <a routerLink="/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="assets\Sans titre (25).png" alt="">
                    </div>
                    <div class="banner__item__text">
                        
                        <h2>يوفى مال الجدّين وتبقى صنعة اليدين</h2>
                        <a routerLink="/shop">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


