

    <div class="product__item"   >
            <div  class="product__item__pic set-bg" [style.background-image]="'url('+ product.images[0] + ')'" [routerLink]="['/produits',product.id]">
              <ul class="product__hover">
                  <li><a ><img src="assets/img/icon/heart.png" alt=""></a></li>
                    <li><a [href]="product.images[0]"><img src="assets/img/icon/search.png" alt=""></a></li>
                </ul>
            </div>
        <div class="product__item__text">
            <h6>{{product.title}}</h6>
            <a role="button" (click)="addProduitToCart(product.id)" class="add-cart">+ Add To Cart</a>
            <div class="rating" >
                <ng-container *ngFor="let item of stars; let i=index">
                    <i class="fa" [ngClass]="{'fa-star-o':!item,'fa-star':item}" style='color:#e4b42f'></i>
                </ng-container>

            </div>

            <!-- <ngb-rating [(rate)]="product.stars" [readonly]="true" [max]="5"></ngb-rating> -->


            <h5>{{product.price}} DT</h5>

        </div>
    </div>